# {{ template_destpath }}
# vim: set noai sw=4 tw=4 ts=4 et:
# managed by ansible role: jam82.chrony

# general settings
{% if chrony_port is defined %}
port {{ chrony_port }}
{% endif %}
{% if chrony_cmdport is defined %}
cmdport {{ chrony_cmdport }}
{% endif %}
{% if chrony_bindcmdaddress is defined %}
bindcmdaddress {{ chrony_bindcmdaddress }}
{% endif %}
{% for directive in chrony_directives %}
{{ directive }}
{% endfor %}
{% if chrony_driftfile is defined and chrony_driftfile | length > 0 %}
driftfile {{ chrony_driftfile }}
{% endif %}
{% if chrony_dumponexit | bool %}
dumponexit
{% endif %}
{% if chrony_dumpdir is defined and chrony_dumpdir | length > 0 %}
dumpdir {{ chrony_dumpdir }}
{% endif %}
{% for hw_interface in chrony_hwtimestamp_interfaces | d([]) %}
hwtimestamp {{ hw_interface }}
{% endfor %}
{% if chrony_leapsectz is defined and chrony_leapsectz | length > 0 %}
leapsectz {{ chrony_leapsectz }}
{% endif %}
{% if chrony_makestep_secs is defined and chrony_makestep_nums is defined %}
makestep {{ chrony_makestep_secs }} {{ chrony_makestep_nums }}
{% endif %}
{% if chrony_ntpsigndsocket is defined and chrony_ntpsigndsocket | length > 0 %}
ntpsigndsocket {{ chrony_ntpsigndsocket }}
{% endif %}
{% if chrony_ratelimit is defined and chrony_ratelimit | length > 0 %}
ratelimit {{ chrony_ratelimit }}
{% endif %}
{% if chrony_rtconutc | bool | d(False) %}
rtconutc
{% endif %}
{% if chrony_rtcsync | bool | d(False) %}
rtcsync
{% endif %}
{% if chrony_ntp_pools is defined %}

# list of ntp servers and options
{% for ntp_pool in chrony_ntp_pools | d([]) %}
pool {{ ntp_pool.address }} {{ ntp_pool.options | join(' ') }}
{% endfor %}
{% endif %}
{% if chrony_ntp_servers is defined %}

# list of ntp servers and options
{% for ntp_server in chrony_ntp_servers | d([]) %}
server {{ ntp_server.address }} {{ ntp_server.options | join(' ') }}
{% endfor %}
{% endif %}
