# Managed by ansible.
# file: {{ template_destpath }}

port {{ chronyd_port }}
cmdport {{ chronyd_cmdport }}
bindcmdaddress {{ chronyd_bindcmdaddress }}
{% if chronyd_bindaddress | length > 0 %}
bindaddress {{ chronyd_bindaddress }}
{% endif %}
{% for __chronyd_directive in chronyd_directives %}
{{ __chronyd_directive }}
{% endfor %}
{% for __chronyd_subnet in chronyd_deny %}
deny {{ __chronyd_subnet }}
{% endfor %}
{% if chronyd_driftfile | length > 0 %}
driftfile {{ chronyd_driftfile }}
{% endif %}
{% if chronyd_dumponexit | bool %}
dumponexit
{% endif %}
{% if chronyd_dumpdir | length > 0 %}
dumpdir {{ chronyd_dumpdir }}
{% endif %}
{% for __chronyd_interface in chronyd_hwtimestamp_interfaces %}
hwtimestamp {{ __chronyd_interface }}
{% endfor %}
{% if chronyd_leapsectz | length > 0 %}
leapsectz {{ chronyd_leapsectz }}
{% endif %}
makestep {{ chronyd_makestep_secs }} {{ chronyd_makestep_nums }}
{% if chronyd_ntpsigndsocket | length > 0 %}
ntpsigndsocket {{ chronyd_ntpsigndsocket }}
{% endif %}
{% if chronyd_ratelimit | length > 0 %}
ratelimit {{ chronyd_ratelimit }}
{% endif %}
{% if chronyd_rtconutc | bool %}
rtconutc
{% endif %}
{% if chronyd_rtcsync | bool %}
rtcsync
{% endif %}

{% for __chronyd_pool in chronyd_ntp_pools %}
pool {{ __chronyd_pool.address }} {{ __chronyd_pool.options | join(' ') }}
{% endfor %}
{% for __chronyd_server in chronyd_ntp_servers %}
server {{ __chronyd_server.address }} {{ __chronyd_server.options | join(' ') }}
{% endfor %}
